# Contraseña usuario administrador de la base de datos
MYSQL_ROOT_PASSWORD=

# Nombre de la base de datos
MYSQL_DATABASE=

# Nombre de usuario y contraseña para la base de datos
MYSQL_USER=
MYSQL_PASSWORD=