# Contraseña usuario administrador de la base de datos
MYSQL_ROOT_PASSWORD=root

# Nombre de la base de datos
MYSQL_DATABASE=biblioteca

# Nombre de usuario y contraseña para la base de datos
MYSQL_USER=biblioteca_user
MYSQL_PASSWORD=abc123.